footer {
	width: 100%;
	background: #2E2E2E;
	color: #fff;
	padding: 20px;
	font-size: 20px;

	/*flex*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

footer nav {
	display: flex;
	justify-content: space-between;
}

footer nav ul {
	list-style: none;
}

footer nav ul li {
	margin:3px 0;
}

footer .copyright {
	text-align: center;
}

footer nav .contact{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

footer nav .contact form {
	

	/*flex*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

footer nav .contact form input[type="email"] {
	background: #424242;
	border: none;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	width: 250px;
	line-height: 20px;

}

footer nav .contact form i {
	padding: 10px;
	background: #1C1C1C;
	line-height: 20px;
	margin-left: 3px;
}


footer nav .contact form input[type="button"] {
	margin-top: 20px;
	color: #fff;
	background: #2E2E2E;
	border: 3px solid  #424242;
	padding: 10px;
	 font-size: 16px;
	text-align: center;
	-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
}

footer nav .contact form input[type="button"]:hover {
	-webkit-transition: all ease 3s;
	 -o-transition: all ease 3s;
	 transition: all ease 1s; 
	 background:#424242;
}

.upworkLink {
	margin-top: 20px;
	color: #fff;
	text-decoration: none; 
	background: #2E2E2E;
	border: 3px solid  #424242;
	padding: 10px 0px;
	text-align: center;
	-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
}

.upworkLink:hover {
	background:#424242;
}

/*media queries*/
@media screen and (max-width: 600px) {
	footer nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	
	footer nav .information {
		margin-bottom: 4em;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	footer nav .information ul {
		/*display: flex;*/
		align-content: center;
		justify-content: center;
	}

	footer nav .contact form {
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: center;
	}

	footer nav .contact form input[type="button"] {
		width: 35%;
		margin: auto;
		margin-top: 10px;
	}

	footer .copyright {
		margin-top: 5em;
	}
}